<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let i of menu">
        <a href="#" [ngClass]="classMenu(i)" (click)="enterMenu(i)">{{i}}</a>
      </li>


    </ul>
  </div>

  <div class="card-body" *ngIf="showMenu('Active')">

    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-info">Go somewhere</a>
  </div>

  <div class="card-body" *ngIf="showMenu('Link')">

    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-success">Go somewhere</a>
  </div>

  <div class="card-body" *ngIf="showMenu('Service')">

    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>

  </div>


</div>
